In [1]:
#!pip install pandas
#!pip install os
import pandas as pd
import os

ruta = 'C:/tmp/activity_logs'
ruta_final = 'C:/tmp/activity_logs_final'

journals = 'C:\tmp\journals'

In [2]:
#Una vez ejecutado lo dejo comentado asi no se vuelve a correr (solo hace falta correrlo 1 vez)

"""for file in os.listdir(ruta):
    print("Procesando el archivo: " + file[:-4])
    df = pd.read_csv(ruta + '/' + file)
    df.to_parquet(ruta_final + '/' + file[:-4] + '.parquet', engine='fastparquet')"""

'for file in os.listdir(ruta):\n    print("Procesando el archivo: " + file[:-4])\n    df = pd.read_csv(ruta + \'/\' + file)\n    df.to_parquet(ruta_final + \'/\' + file[:-4] + \'.parquet\', engine=\'fastparquet\')'

In [3]:
#!pip install duckdb
import duckdb
con = duckdb.connect(database=':memory:')

In [4]:
con.execute("SELECT count(*) FROM read_parquet('C:/tmp/activity_logs_final/ParticipantStatusLogs*.parquet');").df()

   count_star()
0     113923735

In [8]:
# me guardo la base de logs, OJO que solo tengo los primeros 5 registros
logs = con.execute("SELECT * FROM read_parquet('C:/tmp/activity_logs_final/ParticipantStatusLogs*.parquet') LIMIT 5;").df()

In [9]:
logs

,timestamp,currentLocation,participantId,currentMode,hungerStatus,sleepStatus,apartmentId,availableBalance,jobId,financialStatus,dailyFoodBudget,weeklyExtraBudget
0,2022-03-01T00:00:00Z,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,JustAte,Sleeping,926.0,1286.519556,254,Stable,12,1104.302570
1,2022-03-01T00:00:00Z,POINT (-1526.9372331431534 5582.2951345645315),1,AtHome,JustAte,Sleeping,928.0,860.574204,929,Stable,12,926.714377
2,2022-03-01T00:00:00Z,POINT (-1360.9905987829304 2108.804385379679),2,AtHome,JustAte,Sleeping,291.0,1298.184541,348,Stable,16,848.802876
3,2022-03-01T00:00:00Z,POINT (-1558.517200825967 5600.664347152427),3,AtHome,JustAte,Sleeping,1243.0,1180.641725,316,Stable,12,819.325405
4,2022-03-01T00:00:00Z,POINT (976.2409614204214 4574.575079082071),4,AtHome,JustAte,Sleeping,194.0,-681.650588,177,Unstable,20,0.000000

In [12]:
# Descargo el CheckinJournal
con.execute("SELECT * FROM read_csv('C:/tmp/journals/CheckinJournal.csv', AUTO_DETECT=TRUE);").df()

         participantId           timestamp  venueId   venueType
0                  619 2022-03-01 05:35:00     1798         Pub
1                   15 2022-03-01 05:50:00     1798         Pub
2                   23 2022-03-01 05:55:00      894         Pub
3                  699 2022-03-01 06:00:00     1798         Pub
4                  876 2022-03-01 06:00:00     1804  Restaurant
...                ...                 ...      ...         ...
2100630            320 2023-05-25 00:05:00      826   Apartment
2100631            360 2023-05-25 00:05:00      768   Apartment
2100632            487 2023-05-25 00:05:00      687   Apartment
2100633            691 2023-05-25 00:05:00     1275   Apartment
2100634            912 2023-05-25 00:05:00     1800         Pub

[2100635 rows x 4 columns]

In [13]:
# Descargo el FinancialJournal
con.execute("SELECT * FROM read_csv('C:/tmp/journals/FinancialJournal.csv', AUTO_DETECT=TRUE);").df()

         participantId           timestamp    category       amount
0                    0 2022-03-01 00:00:00        Wage  2472.507559
1                    0 2022-03-01 00:00:00     Shelter  -554.988622
2                    0 2022-03-01 00:00:00   Education   -38.005380
3                    1 2022-03-01 00:00:00        Wage  2046.562206
4                    1 2022-03-01 00:00:00     Shelter  -554.988622
...                ...                 ...         ...          ...
1856325             39 2023-05-25 00:05:00  Recreation    -2.760368
1856326             28 2023-05-25 00:05:00  Recreation   -29.458409
1856327            370 2023-05-25 00:05:00  Recreation   -28.444239
1856328            537 2023-05-25 00:05:00        Food    -4.000000
1856329            362 2023-05-25 00:05:00        Food    -4.000000

[1856330 rows x 4 columns]

In [14]:
# Descargo el SocialNetwork
con.execute("SELECT * FROM read_csv('C:/tmp/journals/SocialNetwork.csv', AUTO_DETECT=TRUE);").df()

         timestamp  participantIdFrom  participantIdTo
0       2022-03-01                173              180
1       2022-03-01                178              183
2       2022-03-01                178              185
3       2022-03-01                180              173
4       2022-03-01                183              178
...            ...                ...              ...
7482483 2023-05-25                879              102
7482484 2023-05-25                879              851
7482485 2023-05-25                879              412
7482486 2023-05-25                879               17
7482487 2023-05-25                879              590

[7482488 rows x 3 columns]

In [15]:
# Descargo el TravelJournal
con.execute("SELECT * FROM read_csv('C:/tmp/journals/TravelJournal.csv', AUTO_DETECT=TRUE);").df()

,participantId,travelStartTime,travelStartLocationId,travelEndTime,travelEndLocationId,purpose,checkInTime,checkOutTime,startingBalance,endingBalance
0,23,2022-03-01 05:20:00,532,2022-03-01 05:55:00,894,Recreation (Social Gathering),2022-03-01 05:55:00,2022-03-01 06:00:00,851.223425,850.197491
1,876,2022-03-01 05:50:00,NA,2022-03-01 06:00:00,1804,Eating,2022-03-01 06:00:00,2022-03-01 06:05:00,2071.779647,2065.864612
2,902,2022-03-01 06:05:00,NA,2022-03-01 06:10:00,1801,Eating,2022-03-01 06:10:00,2022-03-01 06:15:00,2115.790341,2110.280842
3,919,2022-03-01 06:00:00,NA,2022-03-01 06:10:00,1802,Eating,2022-03-01 06:10:00,2022-03-01 06:15:00,2120.433773,2115.351009
4,154,2022-03-01 05:55:00,NA,2022-03-01 06:10:00,446,Eating,2022-03-01 06:10:00,2022-03-01 06:15:00,2246.247936,2242.074591
...,...,...,...,...,...,...,...,...,...,...
2099651,376,2023-05-24 21:15:00,1449,2023-05-24 21:50:00,1798,Recreation (Social Gathering),2023-05-24 21:50:00,2023-05-25 00:05:00,33550.317229,33512.794838
2099652,782,2023-05-24 21:30:00,1139,2023-05-24 21:55:00,1344,Recreation (Social Gathering),2023-05-24 21:55:00,2023-05-25 00:05:00,27330.385269,27307.818801
2099653,39,2023-05-24 23:30:00,188,2023-05-24 23:45:00,442,Recreation (Social Gathering),2023-05-24 23:45:00,2023-05-25 00:05:00,33845.779248,33843.018880
2099654,28,2023-05-24 21:30:00,1254,2023-05-24 22:00:00,1342,Recreation (Social Gathering),2023-05-24 22:00:00,2023-05-25 00:05:00,178896.020583,178866.562174
2099655,370,2023-05-24 21:55:00,556,2023-05-24 22:10:00,893,Recreation (Social Gathering),2023-05-24 22:10:00,2023-05-25 00:05:00,46850.248839,46821.804600